.banner-footer {
  padding: 0;
}

.banner-img {
  height: 400px;
  width: 100%;
  background: url(../assets/footer-img-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .banner-img {
    background: url(../assets/footer-img-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .banner-img {
    height: 600px;
    background: url(../assets/footer-img-desktop.png) no-repeat;
    background-size: cover;
  }
}
