.category-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.card-category {
  width: 312px;
  height: 220px;
  background-color: var(--background-second-color);
  border-radius: 8px;
  padding: 16px 24px;
  box-sizing: border-box;
}

.card-category a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  height: 100%;
  color: var(--text-main-color);
}

.card-category img {
  width: 80px;
  height: 80px;
}

.card-category h3 {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .category-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .card-category {
    width: 460px;
    height: 220px;
  }
}

@media screen and (min-width: 1440px) {
  .card-category {
    width: 281.25px;
    height: 220px;
  }
}
