.category-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card-category {
  width: 312px;
  height: 220px;
  background-color: var(--background-second-color);
  border-radius: 8px;
  padding: 16px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  text-align: center;
}

.card-category header {
  background-color: transparent;
  display: block;
  padding: 0;
  position: static;
}

.card-category img {
  width: 80px;
  height: 80px;
}

.card-category h3 {
  font-size: 1.75rem;
  font-weight: var(--title-weight);
  margin: 0;
}
