.destinations {
  padding-left: 24px;
  padding-right: 24px;
}

.destinations-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.destinations .item header {
  background-color: transparent;
  padding: 0;
  position: static;
  display: block;
}

.destinations .item h4 {
  font-size: 1.75rem;
  font-weight: var(--title-weight);
  margin: 24px 0px 0px;
  text-align: left;
}

.destinations .img-item {
  width: 312px;
  height: 360px;
  display: inline-block;
}

.destinations .tokyo {
  background: url(../assets/tokyo-mobile.jpg) no-repeat;
}

.destinations .osaka {
  background: url(../assets/osaka-mobile.jpg) no-repeat;
}

.destinations .item p {
  font-size: 1.25rem;
  font-weight: var(--text-weight);
  text-align: left;
  width: 312px;
  line-height: 32px;
}

.destinations .button {
  display: inline-block;
}
