@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-main-color: #ffffff;
  --background-second-color: #f5f5f5;
  --background-third-color: #000000;
  --background-third-color-hover: #222222;

  --red-main-color: #8f0101;
  --red-second-color: #b81515;

  --text-main-color: #222222;
  --text-second-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-main-color);
}

.section-title h2 {
  font-size: 1.75em;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--red-second-color);
  border: none;
  margin: 16px auto 32px;
}

.button {
  width: 280px;
  height: 64px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
  color: var(--text-second-color);
  font-weight: var(--title-weight);
  font-size: 1.25rem;
  background-color: var(--red-second-color);
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--red-main-color);
  }
}
