header {
  background-color: var(--background-third-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 8%;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-mobile {
  display: block;
}

.img-desktop {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-third-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-links li {
  padding: 16px 56px;
}

.list-links li:hover {
  background-color: var(--background-third-color-hover);
}

.list-links li a {
  color: var(--text-second-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

.list-links li a.active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
  }
  .navigation-menu label {
    display: none;
  }
  .navigation-menu nav {
    display: block;
  }
  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-links li {
    padding: 16px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 260px;
    height: 64px;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
    width: 100%;
    height: 100%;
  }
  .navigation-menu a:hover {
    color: var(--red-main-color);
    font-weight: var(--title-weight);
  }
  .list-links li:hover {
    background-color: var(--background-third-color);
  }
}
