.offers-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 24px 16px;
  color: var(--text-second-color);
  width: 312px;
  height: 288px;
  border-radius: 16px;
  background-color: black;
  box-sizing: border-box;
  text-align: center;
}

.card header {
  background-color: transparent;
  display: block;
  padding: 0;
  position: static;
  margin-bottom: 24px;
}

.card header p {
  font-size: 1.25rem;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 2.5rem;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.card header span {
  font-size: 2rem;
  display: inline-block;
  margin-top: 24px;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
  }

  .card header h3 {
    font-size: 3rem;
  }

  .card header span {
    font-size: 2.5rem;
  }
}
