.offers-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card {
  padding: 24px 16px;
  color: var(--text-second-color);
  width: 312px;
  height: 288px;
  border-radius: 16px;
  box-sizing: border-box;
  text-align: center;
}

.card-japao {
  background: url(../assets/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}

.card-andreas {
  background: url(../assets/bg-card-sanandreas.jpg);
  background-size: cover;
}

.card-paraiba {
  background: url(../assets/bg-card-paraiba.jpg);
  background-size: cover;
}

.card-manaus {
  background: url(../assets/bg-card-manaus.jpg);
  background-size: cover;
}

.card header {
  background-color: transparent;
  display: block;
  padding: 0;
  position: static;
  margin-bottom: 24px;
}

.card header p {
  font-size: 1.25rem;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 2.5rem;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.card header span {
  font-size: 2rem;
  display: inline-block;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 460px;
    height: 308px;
  }

  .card header h3 {
    font-size: 3rem;
  }

  .card header span {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
