.payments {
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
}

.text-content {
  padding: 0px 0px 24px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  height: 460px;
  width: 100%;
  grid-template-areas:
    "img1 img2"
    "img3 img3";
  gap: 24px;
}
.bag {
  grid-area: "img1";
  background: url(../assets/bag-mobile.png);
  height: 254px;
}
.passport {
  grid-area: "img2";
  background: url(../assets/passport-mobile.png);
  height: 254px;
}
.people {
  grid-column: 1/3;
  background: url(../assets/people-mobile.png);
  height: 182px;
}

.img1 {
  grid-area: "img1";
  background: url(../assets/img1-pacotes-mobile.png);
  height: 254px;
}
.img2 {
  grid-area: "img2";
  background: url(../assets/img2-pacotes-mobile.png);
  height: 254px;
}
.img3 {
  grid-column: 1/3;
  background: url(../assets/img3-pacotes-mobile.png);
  height: 182px;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pacotes-preco {
  margin: 32px 0px 24px;
  font-weight: var(--title-weight);
  font-size: 2.5rem;
}

.pacotes-parcelas {
  margin: 0px 0px 24px;
  font-weight: var(--title-weight);
  font-size: 1.75rem;
}

.payments .button {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .payments {
    padding-right: 60px;
    padding-left: 60px;
  }

  .bag {
    background: url(../assets/bag-tablet.png);
  }
  .passport {
    background: url(../assets/passport-tablet.png);
  }
  .people {
    background: url(../assets/people-tablet.png);
  }

  .img1 {
    background: url(../assets/img1-pacotes-tablet.png);
  }
  .img2 {
    background: url(../assets/img2-pacotes-tablet.png);
  }
  .img3 {
    background: url(../assets/img3-pacotes-tablet.png);
  }

  .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .payments .button {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .payments {
    padding-right: 121px;
    padding-left: 121px;
  }

  .content-container {
    display: flex;
    gap: 23px;
  }

  .text-content {
    padding: 0;
    width: 384px;
  }

  .content-title {
    margin: 0 0 24px;
  }

  .img1 {
    background: url(../assets/img1-pacotes-desktop.png);
  }
  .img2 {
    background: url(../assets/img2-pacotes-desktop.png);
  }
  .img3 {
    background: url(../assets/img3-pacotes-desktop.png);
  }

  .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
