.testimonials {
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial-container article {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.testimonial-container article header {
  background-color: var(--background-main-color);
  padding: 0;
}

.testimonial-container article header p {
  font-size: 1rem;
  line-height: 28px;
}

.testimonial-container article footer {
  display: flex;
  gap: 24px;
}

.testimonial-container article footer img {
  width: 86px;
  height: 86px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.star {
  font-size: 38px;
  color: var(--red-second-color);
}

.profile-content h4 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: var(--title-weight);
  line-height: 32px;
}

@media screen and (min-width: 1440px) {
  .testimonial-container {
    flex-direction: row;
    gap: 24px;
  }
}
